body {
    background-color: #f4fff8;
    color: #000080;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 80px;
    padding: 20px;
    border: 4px double #000080;
    border-radius: 5px;
    background-image: url('https://www.transparenttextures.com/patterns/graphy.png'); 
}


header h1 {
    font-family: 'Comic Sans MS', cursive;
    color: #000076;
    text-align: center;
    text-shadow: 2px 2px #bef14b;
}

section {
    margin-bottom: 30px;
    padding: 10px;
    border: 2px dotted #000000;
    background-color: #ffffffcc;
}

h3 {
    color: #000076;
    font-size: 20px;
    background-color: #f6ffe0;
    padding: 5px;
    border-bottom: 1px solid #000080;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    font-size: 14px;
    color: #444;
    margin-top: 40px;
}

.logo-link {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    border: 3px ridge #ff00ff; /* Borda com efeito 3D */
    background: linear-gradient(to bottom right, #ffccff, #cc99ff); /* Degradê rosa/lilás */
    padding: 5px;
    box-shadow: 3px 3px 0 #0000ff, -1px -1px 0 #00ffff; /* sombra dupla estilo anos 2000 */
    border-radius: 5px;
    text-decoration: none;
  }

  .logo-img {
    width: 50px;
    height: auto;
    display: block;
    filter: drop-shadow(0 0 5px #ff00ff); /* Brilho rosa */
    transition: transform 0.2s ease-in-out;
  }

   .logo-link:hover .logo-img {
    transform: scale(1.1) rotate(-5deg);
  }  

  